.register-block {
    margin-top: 50px;
}

form.create-edit {
    margin-bottom: 75px;
}

img {
    max-width: 100%;
}

.image-gap {
    margin-top: 30px;
    margin-bottom: 20px;
}

.search-input {
    display: inline-block !important;
    margin-left: 20px;
    margin-right: 20px;
}

.main-menu {
    margin-top: 20px;
}

.logo {
    color: #000;
    font-size: 35px;
    margin-right: 20px;
    position: relative;
    top: 3px;
}

.logo:hover {
    text-decoration: none;
}

.content {
    margin-top: 50px;
}

.post {
    margin-bottom: 35px;
}

.post .title {
    font-size: 25px;
    color: #000;
}

.post .likes {
    margin-top: 30px;
}

.like-btn {
    cursor: pointer;
}

.like-btn:hover {
    color: red;
}

.like-btn.active {
    color: red;
}

.read-more-title {
    font-size: 25px;
    color: #000;
}

.read-more-title:hover {
    text-decoration: none;
}

.comments-block {
    margin-bottom: 50px;
}

.comments-list {
    margin-bottom: 30px;
}

.comment {
    margin-bottom: 20px;
}